@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(MaterialIcons-Regular.ttf) format('truetype');
}
  

:root {
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    position: relative;
}
h1 {
    margin-block: 0;
}

.event {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
    font-size: 2em;
    transition: opacity ease .5s;
}
.event .title {
    text-align: center;
    font-size: 2em;
    margin: .5em
}
.event .data {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.event .poster {
    max-width: 40%;
    max-height: 70vh;
    object-fit: contain;
}
.event .details {
    margin: 1em;
    font-size: 1.2em;
    max-width: 40%;
}
.event .details > * {
    display: block;
    margin-bottom: .2em;
}
.event .description {
    text-align: justify;
}
.event .asso > .logo {
    height: 2em;
    vertical-align: middle;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    vertical-align: text-bottom;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}