@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('assets/MaterialIcons-Regular.ttf') format('truetype');
}
  

:root {
    font-family: system-ui, Arial, Helvetica, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    position: relative;
}

section {
    width: 80vw;
    max-width: 100%;
    margin: 0 auto;
}
form, table {
    display: block;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
input, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 6px 12px;
    line-height: 1.5;
    appearance: none;
    margin-bottom: 8px;
}
input[type="color" i] {
    padding: 1px 2px;
}
input[type="button" i], input[type="submit" i], button {
    background-color: #fa961d;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    vertical-align: text-bottom;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}